:root {
  --bg: #050505;
  --card: #111111;
  --white: #ffffff;
  --yellow: #f7d51d;
  --blue: #00bfff;
  --red: #ff3c38;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  color: var(--white);
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  background-attachment: fixed;
}
